
<footer>
    <div id="idfooter" class="footer">
        <h4>ABOUT US</h4>
        <img src="media/logo.png" alt="">

        <div class="iconss">
            <i class="fa-brands fa-facebook"></i>
            <i class="fa-brands fa-twitter"></i>
            <i class="fa-brands fa-instagram"></i>
            <i class="fa-brands fa-youtube"></i>
        </div>

        <p>made with <i class="fa-solid fa-heart"></i></p>
    </div>

</footer>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.3/jquery.min.js" integrity="sha512-STof4xm1wgkfm7heWqFJVn58Hm3EtS31XFaagaa8VMReCXAkQnJZ+jEy8PCC/iT18dFy95WcExNHFTqLyp72eQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.13.2/datatables.min.js"></script>
<script>
    $(document).ready(function(){
        $("table").DataTable({
            order: [0, 'desc']
        });
    });
</script>