<head>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/dt-1.13.2/datatables.min.css"/>
</head>
<header>
    <nav>
        <div class="header_flex">
            <div class="header_logo">
                <img src="media/logo.png" alt="">
            </div>

            <div class="header_links">
                <a href="http://127.0.0.1:6969/profile">Home</a>
                <a href="/news">News</a>
                <a href="/add">Add News</a>
                <a href="http://127.0.0.1:6969/help">Help me</a>
                <a href="#idfooter">Contact Us</a>
            </div>
            <div class="dropdown">
                <button class="dropbtn">Profile
                </button>
             
            </div>
        </div>
    </nav>
</header>